  </div><!-- End wrap for sticky footer -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>About</h4>
          <p>Web Bakers is an ideas kitchen in a sharing economy. Collaborate with other developers and designers on the projects that inspire you. Struggling with your own great idea? <a href="http://www.jamesaltucher.com/2014/05/the-ultimate-guide-for-becoming-an-idea-machine/">Exercise your idea muscle.</a></p>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <h4>Stuff</h4>
          <p>
            <a href="#">Help</a><br>
            <a href="#">Contact</a><br>
            <a href="#">Terms of Use</a><br>
            <a href="#">We're Open Source!</a>
          </p>
        </div>

      </div><!--/row -->
    </div><!--/container -->
    <div class="copyright col-lg-12">
      <div class="container">
        <p>Copyright <script>document.write(new Date().getFullYear())</script> Web Bakers. All Rights Reserved. <%= ideas.length %> Ideas Served.</p>
      </div>
    </div>
  </footer>

  </body>
</html>