<!DOCTYPE html>
<html>
<head>
  <title>Web Bakers</title>

  <!-- CSS, fonts, favicon -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Titillium+Web:200,400,600" rel="stylesheet">
  <link rel="icon" href="/img/favicon.png">

  <!-- JS -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

