/* Global elements ------------------------------------ */

html, body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

h1 {
  display: inline-block;
  margin: 0;
}



/* Header --------------------------------------------- */

.navbar-brand {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1.5rem;
}

a.navbar-brand img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.navbar + div {
  margin-top: 51px;
}

.page-title {
  background: #ff7677;
  color: #fff;
  padding: 2rem 0;
}


/* Footer --------------------------------------------- */

footer {
  background: #eee;
  color: #aaa;
  padding: 3rem 0 2rem;
  margin-top: 3rem;
}

footer a {
  color: #666;
}


/* Module: Ideas --------------------------------------------- */

.idea-submission {
  background: #f4f4f4;
  margin: 2rem 0 0;
  padding: 2rem;
}

.idea-submission input[type=text] {
  display: inline-block;
  padding: 0.5rem;
  width: 80%;
}

.idea-card {
  border-bottom: solid 1px #eee;
  padding: 1rem 0 2rem;
}

.idea-card:first-of-type {
  margin-top: 2rem;
}

.idea-card:last-of-type {
  border-bottom: 0;
}

.filters {
  background: #f4f4f4;
  margin: 2rem 0;
  padding: 1rem 2rem;
}

.filters ul {
  list-style: none;
  padding: 0;
}









